.btn-primary {
  color: #fff;
  background-color: #009345;
  border-color: #009345;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #009345;
  border-color: #009345;
}
